@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #f351ed, #2058b2);
  padding: 10px;
}

.todo-head {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 90%;
  gap: 10px;
  max-width: 500px;
  background: #e2dddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto 0;
}

.todo-head input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  flex: 1;
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  width: 80%;
  margin-top: -8px;
}

.col-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  background: #e2dddd;
  border-radius: 5px;
  padding: 20px;
  margin: 20px auto;
  flex: 1;
}

.row-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.col-goal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  gap: 10px;
  width: 100%;
}

.row-head h2 {
  font-size: 25px;
  font-weight: 500;
  color: #575454;
}

.col-goal h3 {
  font-size: 18px;
  font-weight: 400;
  color: #575454;
}

.row-goal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.input-task {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
  border-radius: 30px;
}

.row-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 30px;
}

.add {
  width: 50%;
}

.add-task-button {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  background: #f17c23;
  border-radius: 40px;
}

.row-todo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 50px;
  gap: 10px;
}

.row-todo h2 {
  font-size: 25px;
  font-weight: 500;
  color: #575454;
}

.task-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px;
  border-radius: 30px;
}

.list-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.list {
  list-style: none;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 10px;
}

.btn-actions {
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
  width: 40px;
  height: 30px;
  align-items: center;
  border: none;
}

.li_actions {
  list-style: none;
  margin-left: 10px;
}

.unchecked {
  width: 30px;
  color: #e3aca6;
}

.dragging {
  border: 2px dashed #f17c23;
}

.dragover {
  border: 2px dashed #f17c23;
}
